@charset "utf-8";

/* CSS Document */

body {
    color: #313131;
    font: 14px/1.6 "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", Verdana, Arial, sans-serif;
    margin: 0;
}

a {
    color: blue;
    transition: all 0.5s;
}

a:visited {
    color: blue;
    transition: all 0.5s;
}

a:hover {
    color: #F5A862;
    transition: all 0.5s;
}

header {
    background: #222;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

footer {
    background: #222;
    color: #fff;
    font-size: 80%;
    letter-spacing: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}
